/* x-tra small devices (phones, 640px and down) */
@media only screen and (max-width: 640px) {
  body {background: rgb(252, 164, 164);}
}

/* small devices (portrait phones and large phones, 641px upto 768px) */
@media only screen and (min-width: 641px) {
  body {background: rgb(144, 215, 233);}
}

/* medium devices (portrait tablets and large tablets, 769px upto 979px) */
@media only screen and (min-width: 768px) {
  body {background: rgb(204, 236, 204);}
}

/* large devices (landscape tablets, 980px and up) */
@media only screen and (min-width: 980px) {
  body {background: rgb(185, 185, 231);}
} 
